.login {
  width: 100vw;
  height: 100vh;
  background-image: url("https://store-images.s-microsoft.com/image/apps.22805.14495311847124170.6bb0e308-d660-48ed-bc80-64283f86c66f.71854e62-1a96-40c0-b931-17e1dcf99bcb?mode=scale&q=90&h=1080&w=1920");
  background-repeat: no-repeat;
  background-size: cover;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }

      .registerButton {
        background-color: red;
        color: white;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        padding: 10px 20px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    color: white;

    form {
      width: 400px;
      height: 400px;
      padding: 30px;
      border-radius: 5px;
      background-color: var(--main-color);
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      input {
        height: 40px;
        border-radius: 5px;
        background-color: grey;
        color: white;
        padding-left: 10px;

        &::placeholder {
          color: lightgray;
        }
      }

      button {
        height: 50px;
        border-radius: 5px;
        border: none !important;
        outline: none;
        background-color: red;
        color: white;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
      }

      span {
        color: lightgray;
      }

      b {
        color: white;
      }
    }
  }
}
